:root {
  --font-heading: 'Poppins', sans-serif;
  --font-usual: 'Open Sans', sans-serif;
}
/* All usual elements */
html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
  font-family: 'Poppins', sans-serif;
}

body {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}
.container {
  width: 85%;
  margin: auto;
}

/* Navbar heading top */
.navbar {
  height: 120vh;
  background-color: #339999;
  
}
.navbar-heading {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color:  #339999;
  margin: auto;
  align-items: center;
  flex-wrap: wrap;
  position: fixed;
  padding: 0 80px;
  height: 80px;
}

.navbar-heading h1 {
  font-size: 35px;
  font-weight: 600;
  width: 140px;
  font-family: var(--font-heading);
  margin-right: 20px;
}
.navbar-heading h1 a {
  color: #FFFFFF;
}

.navbar-heading ul {
  display: flex;
  flex-wrap: wrap;
  
}

.navbar-heading ul li {
  margin: 0 10px;
  flex-wrap: wrap;
  display: flex;
  position: relative;
  padding: 10px 0;
  
}

.navbar-heading ul li a {
  color: #FFFFFF;
  font-size: 15px;
  font-weight: 400;
  font-family: var(--font-usual);  
}

.nav-link::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #fff;
  position: absolute;
  left: 0;
  transform: scaleX(0);
  transition: transform 0.5s;
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
}

.nav-link::after {
  bottom: 0;
  transform-origin: center;
}

.nav-link:hover::after {
  transform: scaleX(1);
}
.nav-link__first::after {
  transform: scaleX(1);
}


/* Navbar Main Center */
.main-center {
  padding-top: 220px;
  text-align: center;
}
.main-center h1 {
  font-size: 50px;
  color: #fff;
  font-weight: 700;
  margin-bottom: 0;
  line-height: 1;
  text-align: center;
}
.main-center h2 {
  font-size: 30px;
  color: #fff;
  font-weight: 600;
  margin-top: 30px;
  line-height: 1;
  text-align: center;
}
.main-center h2 { 
  display: flex; 
  justify-content: center; 
} 

.main-center h2 span::before {
  content: "University Student";
  animation: animate infinite 4s;
  padding-left: 10px;
  -webkit-animation: animate infinite 4s;
}
.main-center p {
  text-align: center;
  color: #fff;
  font-weight: 400;
  margin-top: 30px;
  line-height: 1;
  font-size: 16px;
  flex-wrap: wrap;
  margin-bottom: 50px;
  width: 70%;
  margin: auto;
}
.main-center a {
  margin-top: 30px;
  background-color: transparent;
  border-radius: 4px;
  border: 2px solid #ffffff;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1.5px;
  padding: 12px 35px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.main-center a:hover {
  background-color: #FFFFFF;
  color: #339999;
}

/* About-ME Section */

.container-plus {
  width: 70%;
  margin: auto;
}
.about-me {
  background-color: #f7f7f7;
  width: 100%;
  padding-top: 50px;
  height: 155vh;
}
.about-me-heading {
  text-align: center;
}
.about-me-heading h1 {
  color: #1c1b1b;
  font-size: 30px;
  line-height: 1.13;
  font-weight: 600;
}
.about-me-heading h2 {
  border-top: 3px solid black;
  width: 85px;
  margin: auto;
  border-color: #339999;
  margin-bottom: 30px;
}
.about-me-heading p {
  text-align: center;
  color: #464343;
  font-weight: 400;
  line-height: 1;
  font-size: 16px;
  flex-wrap: wrap;
  padding-bottom: 50px;
  width: 82%;
  margin: auto;
  font-family: 'Open Sans', sans-serif;
}
.about-me-skills {
  width: 83%;
  height: 103vh;
  margin: auto;
  background-color: white;
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.about-me-img {
  width: 540px;
  height: 650px;
  background-color: rgb(218, 218, 218);
  background-image: url("../img/photo_2020-10-18_14-20-30.jpg");
  background-repeat: no-repeat;
  background-size: 400px, 500px;
  background-position: center;
}
 
.skills {
  width: 38%;
  margin-left: 50px;
  color: black;
  margin-top: 10px;
}
.skills h1 {
  font-size: 27px;
  padding-bottom: 8px;
  color: #333;
  font-weight: 600;
}
.skills li {
  margin-bottom: 15px;
  list-style: none;
}
.skills li h3 {
  padding-bottom: 8px;
  font-size: 15px;
  color: #333;
  font-weight: 600;
}
.bar {
  background-color:  rgb(218, 218, 218);
  display: block;
  height: 23px;
  border: 1px solid rgba(0.0.0.0.3);
  overflow: hidden;
}
.bar span {
  height: 23px;
  float: left;
  background:#339999;
}
.html {
  width: 90%;
  animation: html 2s;
  -webkit-animation: html 2s;
}
.css{
  width: 65%;
  animation: css 2s;
  -webkit-animation: css 2s;
}
.python{
  width: 45%;
  animation: python 2s;
  -webkit-animation: python 2s;
}
.javascript{
  width: 35%;
  animation: javascript 2s;
  -webkit-animation: javascript 2s;
}
.jquery{
  width: 10%;
  animation: jquery 2s;
  -webkit-animation: jquery 2s;
}
.social {
  margin-top: 30px;
}
.social h3 {
  font-size: 27px;
  color: #333;
  font-weight: 600;
  padding-bottom: 10px;
}
.social-icons a {
  padding: 5px;
}
.social-icons a i {
  color: #333;
  border: 1px solid #333;
  padding: 9px;
  font-size: 18px;
  border-radius: 50%;
  margin-bottom: 30px;
  -webkit-border-radius:;
  -moz-border-radius:;
  -ms-border-radius:;
  -o-border-radius:;
}
.social-icons a i:hover{
  color: #339999;
  border-color: #339999;
  transition: all ease 0.5s;
}
#icon_1 {
  border-radius: 50%;
  padding: 9px 12px;
}
#icon_2 {
  border-radius: 50%;
  padding: 9px 10px;
}
.download-resume {
  border: 2px solid #333;
  padding: 8px;
  font-size: 16px;
  color: #339999;
  border-color: #339999;
}
.download-resume:hover {
  color: white;
  background-color: #339999;
  border-color: #339999;
  transition: all ease 0.5s;
}

/* My-Services */

.my-service {
  margin-top: 70px;
}
.my-service-heading h2 {
  color: #1c1b1b;
  font-size: 30px;
  line-height: 1.13;
  font-weight: 600;
  text-align: center;
  
  padding-bottom: 30px;
}
.my-service-heading h3 {
  border-top: 3px solid black;
  width: 85px;
  margin: auto;
  border-color: #339999;
  margin-bottom: 30px;
}
.my-service-heading p {
  text-align: center;
  color: #464343;
  font-weight: 400;
  line-height: 1;
  font-size: 16px;
  flex-wrap: wrap;
  padding-bottom: 50px;
  width: 60%;
  margin: auto;
  font-family: 'Open Sans', sans-serif;
  padding-bottom: 90px;
}
.my-service-item {
  display: flex;
  flex-wrap: wrap;
  

}
.container__plus-two {
  width: 85%;
  margin: auto;
  margin-bottom: 100px;
}
.my__service {
  margin-top: 50px;
}
.my-service-item {
  justify-content: center;
}
.my-service-item .service_items {
  width: 360px;
  height: 230px;
  background-color:#f7f7f7;
  margin: 10px;
}
.service_items {
  text-align: center;
  padding: 10px;
}
.service_items i {
  border: 3px solid #339999;
  padding: 15px;
  font-size: 26px;
  border-radius: 50%;
  color: #339999;
}
.service_items h3 {
  font-size: 20px;
  padding: 20px 0px;
  color:#464343;
}
.service_items p {
  font-size: 15px;
  color: #464343; 
}
.portfolio {
  background-color: #f7f7f7;
  text-align: center;
  padding-top: 70px;
  padding-bottom: 100px;
}


/* My Portfolio */

.my__portfolio h1 {
  color: #1c1b1b;
  font-size: 35px;
  line-height: 1.13;
  font-weight: 600;
}
.my__portfolio h3 {
  border-top: 3px solid black;
  width: 85px;
  margin: auto;
  border-color: #339999;
  margin-bottom: 50px;
}

.my__portfolio ul {
  display: flex;
  text-align: center;
  justify-content: center;
  
}
.my__portfolio ul li {
  padding: 10px;
  color: #464343;
  font-size: 18px;
  transition: all ease 0.3s;
}
.my__portfolio ul li:first-child {
  color: #339999;
}
.my__portfolio ul li:hover {
  color: #339999;
  cursor: pointer;
}
.portfolio__img {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.portfolio__img-item {
  width: 340px;
  height: 260px;
  background-color: #a1a1a1;
  margin: 15px;
  text-align: center;
  padding: 100px 50px;
  font-size: 45px;
}
.client {
  background-image: url("../nature.jpg");
  width: 100%;
 
  background-size: cover;
  background-attachment: fixed;
  margin-top: -25px;
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: overlay;
  background-color: rgb(43, 43, 43);
  text-align: center;
  padding-top: 50px;
}
.client__heading h1{
  color: #fff;
  font-size: 35px;
  line-height: 1.13;
  font-weight: 600;
}
.client__heading h3 {
  border-top: 3px solid black;
  width: 85px;
  margin: auto;
  border-color: #258a8a;
  margin-bottom: 80px;
}
.client__views h4 {
  font-size: 30px;
  font-weight: 800;
  border: 3px solid #fff;
  width: 50px;
  height: 50px;
  text-align: center;
  margin: auto;
  margin-bottom: 40px;
  border-radius: 50%;
  color: #fff;
  padding-bottom: 5px;
}
.client__views p {
  text-align: center;
  justify-content: center;
  height: 70px;
  text-align: center;
  margin: auto;
  color: #fff;
  font-weight: 500;
  display: flex;
  flex-wrap: wrap;
} 
.client__views h2 {
  color: #fff;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 15px;
}
.client__views h5 {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  padding-bottom: 80px;
}
.contact {
  margin-top: 70px;
}
.contact__me h1{
  color: black;
  font-size: 32px;
  line-height: 1.13;
  font-weight: 600;
  text-align: center;
}
.contact__me h3 {
  border-top: 3px solid black;
  width: 85px;
  margin: auto;
  border-color: #258a8a;
  margin-bottom: 28px;
}
.contact__me p {
  justify-content: center;
  height: 70px;
  text-align: center;
  margin: auto;
  color: 464343;
  font-weight: 500;
  flex-wrap: wrap;
} 
.contact__me-icon {
  display: flex;
  flex-wrap: wrap;
  width: 85%;
  margin: auto;
  text-align: center;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.contact__me-icon div {
  padding: 0 20px;
  width: 300px;

}
.contact__me-icon div:not(:first-child) i {
  font-size: 26px;
  border: 3px solid #339999;
  padding: 25px;
  border-radius: 50%;
  background-color:#339999; 
  color: #fff;
  margin-bottom: 25px;
}
.contact__me-icon__one i {
  font-size: 26px;
  border: 3px solid #339999;
  padding: 25px 29px;
  border-radius: 50%;
  background-color:#339999;
  color: #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin-bottom: 25px;
}
.contact__me-icon div h4 {
  color: #1c1b1b;
  font-size: 15px;
  font-weight: 400;
}
.input__type {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 30px;
  
}
.input__type input {
  width: 890px;
  height: 45px;
  margin: 15px;
  padding: 0 20px;
  border: 1px solid #888;
  border-radius: 4px;
  color: rgb(0, 0, 0);
  font-size: 16px;
  box-shadow: 0px 0px 3px #888;
  outline: none;
  
}
.input__type textarea {
  margin: 15px;
  width: 890px;
  height: 190px;
  padding: 20px 20px;
  border: 1px solid #888;
  border-radius: 4px;
  color: rgb(0, 0, 0);
  font-size: 18px;
  box-shadow: 0px 0px 2px #888;
  outline: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.input__type button {
  font-size: 14px;
}
.btn__submit {
  justify-content: center;
  margin-bottom: 100px;
  text-align: center;
  align-items: center;
}
.btn__submit button {
  font-size: 14px;
  padding: 15px 40px;
  background-color: transparent;
  border: 1px solid #888;
  outline: none;
  transition: all ease 0.5s;
  border-radius: 5px;
  box-shadow: 0px 0px 4px #888;
}
.btn__submit button:hover {
  background-color: #339999;
  border-color: #339999;
  color: #fff;
}
footer {
  background-color: #dadada;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 80px;
  padding: 18px;
  
}
footer p {
  font-size: 17px;
}
footer p a {
  font-weight: 600;
  color: #444;
  transition: all ease 0.5s;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  -ms-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
}
footer p a:hover {
  color: #339999;
  cursor: pointer;
}
























/* Media Queries */
@media (max-width: 1182px) {
  .about-me-skills {
    height: 203vh;
    width: 100%;
    
  }
  .skills {
    width: 90%;
    margin-left: 0;
    text-align: center;
  } 
  .my-service {
    margin-top: 700px;
  }
@media (max-width: 1000px){
  .navbar {
    height: 120vh;
    text-align: center;
    justify-content: center;
    
  }
  .navbar-heading {
    position: initial;
    text-align: center;
    justify-content: center;
  }
  
  .navbar-heading ul li a {
    font-size: 16px;
  }

}
@media (max-width: 800px){
  .navbar-heading ul {
    display: flex;
    flex-direction: column;
 
  }
  .navbar-heading h1 {
    font-size: 35px;
    font-weight: 600;
    width: 100%;
    font-family: var(--font-heading);
    margin-right: 20px;
  }
  .main-center {
    padding-top: 280px;
  }
}
@media (max-width: 600px){
  .my__portfolio ul {
    display: flex;
    flex-wrap: wrap;
  }
  
  .navbar {
    height: 130vh;
  }

}
@media (max-width: 400px){
  .my-service {
    margin-top: 800px;
  }
  .my__portfolio ul {
    margin-left: -20px;
  }
  .about-me-img {
    width: 100%;

}






















/* Key Frames */
@keyframes animate { 

  0% { 
      content: "University Student"; 
  } 

  50% { 
      content: "Web Developer"; 
  } 

  75% { 
      content: "Python Developer"; 
  } 
}
@keyframes html {
  0% {
    width: 0%;
  }
  100% {
    width: 90%;
  }
}
@keyframes css {
  0% {
    width: 0%;
  }
  100% {
    width: 65%;
  }
}
@keyframes python {
  0% {
    width: 0%;
  }
  100% {
    width: 45%;
  }
}
@keyframes javascript {
  0% {
    width: 0%;
  }
  100% {
    width: 35%;
  }
}
@keyframes jquery {
  0% {
    width: 0%;
  }
  100% {
    width: 10%;
  }
}